case_study/
cleaned/
eval_results/
logs/
not_in_use/
results/
errorResults/errorHeat/
errorResults/*.json
errorResults/*.txt
errorResults/errorHeat_perLang.py

count.py
errorAnalysis.py
errorAnalysis_explanationOnly.py
errorAnalysis_graphOnly.py
errorAnalysis_romanizationOnly.py
errorAnalysis_slashOnly.py
eval.py
eval.sh
pipeline.sh
pipeline2.sh
pipeline3.sh
resolve.py